<template>
    <div >
        <footer class="bg-primary text-white text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Bibloteka</h5>
              <p class="mt-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                voluptatem veniam, est atque cumque eum delectus sint!
              </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Website</h5>

              <ul class="list-unstyled mb-0 mt-3">
                <li>
                  <router-link class="nav-link" to="/">
                    <a class="text-white">Ballina</a>
                  </router-link>           
                </li>
                <li>
                  <router-link class="nav-link" to="/contact">
                    <a class="text-white">Kontakti</a>
                  </router-link>
                </li>
                <li>
                  <router-link class="nav-link" to="/about">
                    <a class="text-white">Rreth nesh</a>
                  </router-link>
                </li>
              </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase mb-0">Adresa, Kontakti</h5>

              <ul class="list-unstyled mt-3">
                <li>
                  <i class="fas fa-map-marker-alt"></i>
                  <a class="text-white" target="blank" href="https://www.google.com/maps/place/Universiteti+p%C3%ABr+Biznes+dhe+Teknologji/@42.6461744,21.152369,16.5z/data=!4m8!1m2!2m1!1subt!3m4!1s0x13549e8d5d607f25:0xa31dd05b21bd09de!8m2!3d42.647155!4d21.153124"><p class="d-inline ml-2">Rruga "Rexhep Krasniqi"</p></a>
                </li>
                <li class="mt-2">
                  <i class="fas fa-phone"></i>
                  <p class="d-inline ml-2">+383 44 541 400</p>
                </li>
                <li class="mt-2">
                  <i class="fas fa-envelope"></i>
                  <p class="d-inline ml-2">info@ubt-uni.net</p>
                </li>
              </ul>
            </div>
            <!--Grid column-->
          </div>  
          <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2021 Copyright:
          <a class="text-white" href="#/">Bibloteka.com</a>
        </div>
        <!-- Copyright -->
      </footer>
    </div>
</template>

<script>
export default {
    name: 'Footer',
    data(){
        return {
            
        }
    }
}
</script>


<style scoped>
.page-footer{ 
    background:#f4f4f4;
}


</style>