<template>
    <div class="container">
        <div class="row">
            <button style class="btn btn-primary mb-4 mt-3 ml-auto mr-auto mr-4" @click="showModal = true">Shto Person</button>
            <div class="col-md-12">
                <b-table class="mt-3" id="table" stripped hover :items="personat" :fields="fields"  :per-page="perPage"
                    :current-page="currentPage" small>
                    <template #cell(actions)=row>
                        <b-btn class="" variant="info" @click.stop="ndrysho(row.item)">Ndrysho</b-btn>
                        <b-button class="ml-2" variant="danger"  @click.stop="fshije(row.item)">Fshije</b-button>
                    </template>
                </b-table> 
            </div>
            
        </div>     

        <modal v-if="showModal" @close="showModal = false">
            <div class="modal is-active">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <div class="box">
                      <input type="text" class="form-control my-3" v-model="emriRi" required placeholder="Sheno emrin">
                      <input type="text" class="form-control my-3" v-model="adresa" required placeholder="Sheno adresen">

                      <small style="margin-left:-504px;"><strong>Data e lindjes:</strong></small>
                      <input type="date" class="form-control mt-2 mb-3" required v-model="datelindja">
                      <select class="form-control" required v-model="qyteti">
                        <option disabled value="">Zgjedhni Qytetin</option>
                        <option>Prishtine</option>
                        <option>Gjilan</option>
                        <option>Mitrovice</option>
                        <option>Peje</option>
                        <option>Prizren</option>
                      </select>
                      <div class="gjin" style="">
                            <label style="position:relative;left:-270px;" class="mt-4" for="gjinia">Femer</label>
                            <input style="position:relative;left:-228px;top:-30px" class="ml-3" type="radio" name="picked" value="femer" v-model="gjinia"><br>
                            <label style="position:relative;left:-262px;top:-10px;" for="gjinia">Mashkull</label>
                            <input style="position:relative;left:-219px;top:-40px" class="ml-2" type="radio" name="picked" value="mashkull" v-model="gjinia">
                      </div> 
                      <div class="d-flex justify-content-between mt-5">                        
                          <button class="btn btn-info w-25 ml-2 btn-lg" @click="showModal = false">Anulo</button>
                          <button class="btn btn-primary w-25 btn-lg" @click="shtoEmrin">Shto</button>
                      </div>
                    </div>
                </div>
                <button class="modal-close is-large" aria-label="close" @click="showModal = false"></button>
            </div>
        </modal>
    </div>

    
</template>


<script>
/*eslint-disabled*/

  

export default ({
   name: 'Home',
   data(){
       return{
           headingi: 'Pleurat',
           personat: [],
           numriID:0,
           emriRi: '',
           fshire: 0,
           fields: [
            { ID: { label: 'ID', sortable: true, 'class': 'text-center' } },
            { emri: { label: 'Emri Plote', sortable: true, 'class': 'text-center' } },
            { qyteti: { label: 'Qyteti', sortable: true, 'class': 'text-center' } },
            { adresa: { label: 'Adresa', sortable: true, 'class': 'text-center' } },
            { datelindja: { label: 'Datelindja', sortable: true , 'class': 'text-center'}},
            { gjinia: { label: 'Gjinia', sortable: true , 'class': 'text-center'}},
            { actions: {label:'Actions'}}            
            ],
            qyteti: '',
            datelindja:'',
            adresa:'',
            gjinia:'',
            showModal: false
            // perPage: 4,
            // currentPage: 1,
       }
   },
   methods:{
       shtoEmrin: function(){
           let data = JSON.parse(localStorage.getItem('personat-vue'));
           if(data != null){
               if(data.length === 0){
               this.numriID += 1;
                   if(this.numriID < 0){
                      this.numriID = 1;
                   }
               }else{
                   let dataspc = data[data.length -1]; 
                   this.numriID = dataspc.ID + 1;           
               }
           }else{
               this.numriID += 1;
           }

           if(!this.emriRi){
               alert('Emri nuk duhet te jete i zbrazet!');
               this.numriID -= 1;
           }else if(!this.adresa){
               alert('Adresa nuk duhet te jete e zbrazet!');
               this.numriID -= 1;
           }else if(!this.datelindja){
               alert('Datelindja nuk duhet te jete e zbrazet!');
               this.numriID -= 1;
           }else if(!this.qyteti){
               alert('Qyteti nuk duhet te jete i zbrazet!');
               this.numriID -= 1;
           }else if(!this.gjinia){
               alert('Gjinia nuk duhet te jete e zbrazet!');
               this.numriID -= 1;
           }else{
               this.personat.push({
                emri: this.emriRi,
                ID: this.numriID,
                qyteti: this.qyteti,
                datelindja: this.datelindja,
                adresa: this.adresa,
                gjinia: this.gjinia,
               })
               this.showModal = false;
               this.emriRi = '';
               this.adresa = '';
               this.qyteti = '';
               this.gjinia = '';
               this.datelindja = '';
           }                              
           localStorage.setItem('personat-vue', JSON.stringify(this.personat));
           for (var i = 0; i < data.length; i++) {              
                if(data[i + 1].ID - data[i].ID === 2) {
                    data[i+1].ID -= 1;
                }  
                if(data[i].ID === data[i + 1].ID) {
                    data[i+1].ID += 1;
                }            
            } 
            
       },
       ndrysho: function(obj){        
            this.$router.push({
                name: 'edit',
                params: { 
                    id: obj.ID,
                    emri: obj.emri,
                    qyteti: obj.qyteti,
                    adresa: obj.adresa,
                    datelindja: obj.datelindja,
                    gjinia: obj.gjinia
                }
            })   
           this.personat[obj.ID - 1].gjendja = !this.personat[obj.ID - 1].gjendja;
           localStorage.setItem('personat-vue', JSON.stringify(this.personat));
       },
       fshije: function(obj){
           this.fshire += 1;
           this.numriID -= 1;
           this.personat.splice(obj.ID - 1, 1);
           for(const objekti of this.personat){
               if(objekti.ID != 1){
                   objekti.ID -= 1;
               }
           }
            localStorage.setItem('personat-vue', JSON.stringify(this.personat));
           for (var i = 0; i < this.personat.length; i++) {
                console.log(this.personat[i]);
                if(this.personat[i].ID === this.personat[i+1].ID) {
                    this.personat[i+1].ID += 1;
                }             
            } 
                           
       }
   },
   created: function(){
       let data = JSON.parse(localStorage.getItem('personat-vue'));
       if(data === null){
           this.personat = [];
       }else{
           this.personat = data;
           for (var i = 0; i < data.length; i++) {              
                if(data[i + 1].ID - data[i].ID === 2) {
                    data[i+1].ID -= 1;
                }
                if(data[i].ID === data[i + 1].ID) {
                    data[i+1].ID += 1;
                } 
                if(data[i].ID === 0) {
                    data[i].ID += 1;
                }             
            } 
       }
   }

})


</script>


<style>
input[type="date"]::-webkit-datetime-edit, input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-clear-button {
  color: #fff;
  position: relative;
}

input[type="date"]::-webkit-datetime-edit-year-field{
  position: absolute !important;
  border-left:1px solid #8c8c8c;
  padding: 2px 0px 0px 5px;
  margin-left:3px;
  color:#000;
  left: 56px;
}

input[type="date"]::-webkit-datetime-edit-month-field{
  position: absolute !important;
  border-left:1px solid #8c8c8c;
  padding:2px 0px 0px 5px;
  color:#000;
  left: 26px;
}


input[type="date"]::-webkit-datetime-edit-day-field{
  position: absolute !important;
  color:#000;
  padding: 2px;
  left: 4px;
  
}
</style>
