<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<template>
  <div id="app">
    <Header></Header><br><br>
    <div class="container-fluid">
      <router-view></router-view>
    </div>
    <!-- <Footer v-show="$route.path==='/' || $route.path==='/about' ? true : false"></Footer> -->
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
// import Home from './components/Home.vue'
import Header from './components/Header.vue'
// import Footer from './components/Footer.vue'

export default {
  name: 'App',
  components: {
    // HelloWorld,
    Header,
    // Footer
  }
}
</script>

<style>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
